# Default language for the app (e.g., en, zh, zh-cn, es)
EXPO_PUBLIC_DEFAULT_LANGUAGE="en"

# Image used in the About Us page and Home page hero section
EXPO_PUBLIC_ABOUT_IMAGE_URL="https://lh3.googleusercontent.com/nK9F_oIMAeFUg3zR4Zp7Qp-r0ywqGwZ6RN5TtSh8otJbUBqoTqdMdCUzAULPqnPM1slZdSeOqaLNtvnz=w1626"

# Church Contact Information
# TODO: Please update this file for detailed church location information: /app/(tabs)/more/contact.tsx
EXPO_PUBLIC_CHURCH_NAME="Your Church Name"
EXPO_PUBLIC_CHURCH_PHONE="(555) 000-0000"
EXPO_PUBLIC_CHURCH_EMAIL="info@example.org"

# External Links
EXPO_PUBLIC_ONLINE_GIVING_LINK="https://adventistgiving.org/donate/YOURCHURCHID"

# Spotify Podcast Link
EXPO_PUBLIC_SPOTIFY_PODCAST_URL="https://open.spotify.com/show/YourPodcastID"

# The handle found in the YouTube channel URL without the @ prefix
# e.g. https://www.youtube.com/@newyorkchinesesdachurch1334/streams
# would have the handle "newyorkchinesesdachurch1334"
EXPO_PUBLIC_YOUTUBE_CHANNEL_HANDLE="YourChannelHandle"